@import './../../style/vars.scss';

.page-container {
    padding: 5rem;

    .spinner-container {
        height: 300px;
    }

    .white-box {
        box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
        background-color: $white;
        padding: 1rem;

        .server-item {
            padding: 1rem;
            border-bottom: 1px dashed #ebedf2;

            &:last-child {
                border-bottom: none;
            }

            .title {
                font-size: 1.25rem;
                font-weight: 500;
            }

            .description {
                font-size: .8rem;
                font-weight: 200;
                margin-top: 5px;
            }
        }
    }
}
