@import '../../style/vars.scss';

.login-page {
    height: 100vh;
    background: $red;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, $red 0%, $purple 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $red), color-stop(100%, $purple));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, $red 0%, $purple 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, $red 0%, $purple 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, $red 0%, $purple 100%);
    /* IE10+ */
    background: linear-gradient(135deg, $red 0%, $purple 100%);

    .login-form {
        padding: 50px;
        width: 300px;
        background: #fff;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.5);

        .form-group {
            input {
                width: 140px;
                height: 30px;
                border-radius: 3px;
                border: 1px solid #DDDDDD;
                background: transparent;
                padding: 0 5px;
            }
        }
    }
}